.clock {
    display: grid;
    height: 100vh;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    align-items: center;
}

.clock p {
    display: inline;
    font-weight: bold;
    text-align: center;
}
.clock > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time-wrapper {
    align-items: flex-end;
}
.info-wrapper {
    align-self: end;
}

.info {
    color: white;
}
.time {
    color: var(--primary-color);
    line-height: 29vh;
}
.date {
    color: var(--secondary-color);
}

.hours {
    font-size: 33vh;
}
.minutes {
    font-size: 30vh;
}
.weather {
    font-size: 7vh;
}

.music-wrapper {
    width: 90%;;
}


