.music {
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    align-items: center;
    justify-items: center;
}
.music-album {
    grid-row-start: 1;
    grid-row-end: 2 span;
    border-radius: 15px 0 0 15px;
}

.music-info {
    grid-column-start: 2;
    grid-column-end: 4 span;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
