.bg-solid {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -2;
}
.bg-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: opacity .6s;
  opacity: .2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-img-show {
  opacity: .5;
}


.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-size: contain;
  overflow: hidden;
}

