.bg {
  position: absolute;
  left: 0;
  top: 0;
}

.bg-solid {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -2;
}

.bg-img {
  width: 100%;
  height: auto;
  z-index: -1;
  transition: opacity .6s;
  opacity: 0;
}
.bg-img-show {
  opacity: .4;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-size: contain;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
